/* FONTS */
/* inter-regular - latin */
@font-face {
  font-display: swap;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  src: url("./assets/fonts/inter-v18-latin-regular.woff2") format("woff2");
}
/* inter-600 - latin */
@font-face {
  font-display: swap;
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  src: url("./assets/fonts/inter-v18-latin-600.woff2") format("woff2");
}
/* inter-700 - latin */
@font-face {
  font-display: swap;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  src: url("./assets/fonts/inter-v18-latin-700.woff2") format("woff2");
}

/* CSS RESET — Josh Comeau */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}

/* VARIABLES */
:root {
  /* colors */
  --clr-white: hsl(0, 0%, 100%);
  --clr-black: hsl(0, 0%, 0%);
  --clr-gray-500: hsl(215, 17%, 45%);
  --clr-gray-300: hsl(215, 43%, 77%);
  --clr-blue-900: hsl(215, 31%, 21%);
  --clr-blue-500: hsl(227, 92%, 58%);
  --clr-blue-300: hsl(209, 69%, 82%);
  --clr-blue-100: hsl(228, 94%, 94%);
  --clr-blur: hsl(209, 69%, 82%, 0.25);
  --gradient-hero: linear-gradient(
    to right,
    hsl(183, 95%, 92%, 0.3),
    hsl(216, 95%, 92%, 0.5)
  );
  --gradient-section: linear-gradient(
    to right,
    hsl(183, 95%, 92%, 0.1),
    hsl(216, 95%, 92%, 0.2)
  );

  /* font family */
  --ff-headings: "Inter", sans-serif;
  --ff-body: "Inter", sans-serif;

  /* font weights */
  --fw-400: 400;
  --fw-600: 600;
  --fw-700: 700;
}

/* === REUSABLE STYLES === */
/* headings */
.heading-primary,
.heading-secondary {
  margin-bottom: 2rem;
  line-height: 1.1;
}
.heading-primary,
.heading-secondary,
.heading-tertiary {
  font-family: var(--ff-headings);
  font-weight: var(--fw-600);
  color: var(--clr-blue-900);
  letter-spacing: -1.5px;
}

.heading-primary {
  font-size: 4rem;
  letter-spacing: -4px;
}
.heading-secondary {
  font-size: 3rem;
}
.heading-tertiary {
  font-size: 1.5rem;
  line-height: 1.2;
}

/* text */
.paragraph-sm-text {
  font-size: 0.875rem;
}

.section__description {
  max-width: 29.0625rem;
}

/* grids */
.grid-2cols {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}

.grid-3cols {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

@media screen and (max-width: 48rem) {
  .grid-2cols,
  .grid-3cols {
    grid-template-columns: 1fr;
  }
}

/* displays */
.d-flex {
  display: flex;
}

/* containers */
.container {
  --max-width: 69.375rem;
  --padding: 1rem;

  width: min(var(--max-width), 100% - (var(--padding) * 2));
  margin-inline: auto;
}

/* ===  PAGE STYLES === */
body {
  font-family: var(--ff-body);
  line-height: 1.5;
  font-size: 1rem;
  -webkit-font-smoothing: antialiased;
  color: var(--clr-gray-500);
  background-color: var(--clr-white);
}

/* === header === */
.header {
  position: absolute;
  top: 5.5rem;
  left: 50%;
  transform: translatex(-50%);
}

/* === hero === */
.hero-section {
  padding-block: 11rem 7.5625rem;
  position: relative;
}
.hero-section::before {
  content: "";
  background-image: var(--gradient-hero);
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  height: 100%;
  width: 75%;
  top: 0;
  left: 0;
  z-index: -1;
  border-radius: 0 0 2.1875rem 2.1875rem;
}

.hero__content {
  padding-block: 4.5rem;
}
.hero__heading {
  max-width: 10.5ch;
}

@media screen and (max-width: 48rem) {
  .header img {
    margin-inline: auto;
  }
  .hero-section::before {
    width: 100%;
  }
  .hero-wrapper {
    justify-items: center;
    text-align: center;
  }
  .hero__description {
    max-width: 100%;
  }
  .hero__heading {
    margin-inline: auto;
  }
  .hero__content {
    padding-bottom: 2.5rem;
  }
}

/* === hero form === */
.bmi-form {
  background-color: var(--clr-white);
  padding: 2rem;
  border-radius: 1rem;
  /* todo: check the box shadow again so it matches the design */
  box-shadow: 1rem 2rem 3.875rem 0 var(--clr-gray-300);
  max-width: 35.25rem;
}
.bmi-form__title {
  margin-bottom: 2rem;
}

@media screen and (max-width: 48rem) {
  .bmi-form {
    max-width: 100%;
  }
}

.form-section--radio,
.form-section--number {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5rem;
}
.form-section:not(:last-child) {
  margin-bottom: 2rem;
}

input[type="radio"] {
  transform: scale(1.5);
}
input[type="number"] {
  border: 1px solid var(--clr-gray-500);
  border-radius: 0.75rem;
  padding: 1rem 1.5rem;
  font-size: 1.5rem;
  color: var(--clr-gray-500);
  width: 100%;
  /* remove arrows Firefox */
  appearance: textfield;
  -moz-appearance: textfield;
}

/* remove arrows Chrome, Edge, Safari */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  appearance: none;
  -webkit-appearance: none;
  margin: 0;
}

.form-section--radio label {
  gap: 1rem;
}
.form-section--number label {
  flex-direction: column;
  gap: 0.5rem;
  font-size: 0.875rem;
  position: relative;
}

.measurement-tags {
  position: absolute;
  top: calc(50% - 5px);
  right: 1rem;
  font-size: 1.5rem;
  font-weight: var(--fw-600);
  color: var(--clr-blue-500);
}

.form-message {
  background-color: var(--clr-blue-500);
  color: var(--clr-white);
  padding: 2rem;
  border-radius: 5rem 50rem 50rem 5rem;
}
.form-message__title {
  margin-bottom: 1rem;
  color: var(--clr-white);
}

/* === result === */
.reresult-section {
  padding-block: 5.375rem;
  align-items: center;
}

.result-section__content {
  margin-top: 8rem;
}

.result-section__image {
  width: 100%;
  height: auto;
}

/* === habits === */
.habits-section {
  padding-block: 5.78125rem;
  background-image: var(--gradient-section);
  background-size: cover;
  border-radius: 2.1875rem;
  margin-left: 0.625rem;
  max-width: 97%;
}

@media screen and (max-width: 48rem) {
  .habits-section {
    border-radius: 0;
    max-width: 100%;
  }
  .info-section__content {
    margin-top: 0;
  }
  .info-section__description {
    max-width: 100%;
  }
}

.habit > img {
  margin-bottom: 3rem;
}

.habit .heading-tertiary {
  margin-bottom: 1.5rem;
}

/* === limitations === */
.limitations-section {
  padding-block: 6.5rem;
}

.section-wrapper {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 2rem;
}

.section-wrapper .item-wrapper:not(:first-child) {
  padding: 2rem;
  border-radius: 1rem;
  background-color: var(--clr-white);
  box-shadow: 16px 32px 56px 0 var(--clr-blur);
}

.card-header {
  align-items: center;
  gap: 1rem;
}

.item-wrapper--0 {
  grid-column: 1 / 7;
  grid-row: 1 / 2;
}
.item-wrapper--1 {
  grid-column: 8 / 12;
  grid-row: 1 / 2;
}
.item-wrapper--2 {
  grid-column: 5 / 9;
  grid-row: 2 / 3;
}
.item-wrapper--3 {
  grid-column: 9 / -1;
  grid-row: 2 / 3;
}
.item-wrapper--4 {
  grid-column: 3 / 7;
  grid-row: 3 / 4;
}
.item-wrapper--5 {
  grid-column: 7 / 11;
  grid-row: 3 / 4;
}

@media screen and (max-width: 58.3125rem) {
  .item-wrapper--0 {
    grid-column: 1 / -1;
    grid-row: 1 / 2;
    text-align: center;
  }
  .item-wrapper--1 {
    grid-column: 1 / 7;
    grid-row: 2 / 3;
  }
  .item-wrapper--2 {
    grid-column: 7 / 13;
    grid-row: 2 / 3;
  }
  .item-wrapper--3 {
    grid-column: 1 / 7;
    grid-row: 3/ 4;
  }
  .item-wrapper--4 {
    grid-column: 7 / 13;
    grid-row: 3 / 4;
  }
  .item-wrapper--5 {
    grid-column: 4 / 10;
    grid-row: 4 / 5;
  }
}

@media screen and (max-width: 37.5rem) {
  .item-wrapper--1 {
    grid-column: 1 / -1;
    grid-row: 2 / 3;
  }
  .item-wrapper--2 {
    grid-column: 1 / -1;
    grid-row: 3 / 4;
  }
  .item-wrapper--3 {
    grid-column: 1 / -1;
    grid-row: 4/ 5;
  }
  .item-wrapper--4 {
    grid-column: 1 / -1;
    grid-row: 5 / 6;
  }
  .item-wrapper--5 {
    grid-column: 1 / -1;
    grid-row: 6 / 7;
  }
}
