/* FONTS */
/* inter-regular - latin */
@font-face {
  font-display: swap;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  src: url("./assets/fonts/inter-v18-latin-regular.woff2") format("woff2");
}
/* inter-600 - latin */
@font-face {
  font-display: swap;
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  src: url("./assets/fonts/inter-v18-latin-600.woff2") format("woff2");
}
/* inter-700 - latin */
@font-face {
  font-display: swap;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  src: url("./assets/fonts/inter-v18-latin-700.woff2") format("woff2");
}

/* CSS RESET — Josh Comeau */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}

/* VARIABLES */
:root {
  /* colors */
  --clr-primary: #005f73;
  --clr-secondary: #94d2bd;
  --clr-accent: #e63946;
  --clr-background: #f1faee;
  --clr-text: #1d3557;

  /* font family */
  --ff-headings: "Inter", sans-serif;
  --ff-body: "Inter", sans-serif;

  /* font weights */
  --fw-400: 400;
  --fw-600: 600;
  --fw-700: 700;
}

/* REUSABLE STYLES */

/* containers */
.container {
  --max-width: 69.375rem;
  --padding: 1rem;

  width: min(var(--max-width), 100% - (var(--padding) * 2));
  margin-inline: auto;
}

/* PAGE STYLES */
body {
  font-family: var(--ff-body);
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
